<div class="row">
  <div class="col-md-4 col-md-offset-4">

	<h1> Nuevo Juego </h1>

	<%= form_for :match, url: matches_path do |f| %>
	    <%= f.label "Nombre del juego" %><br>
	    <%= f.text_field :title, class: "form-control" %>
	    <p> *con este nombre tus amigos lo buscaran</p>
	    <%= f.submit "Crear Juego", class: "btn btn-primary" %>
	<% end %>
  </div>
</div>