<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h1> Buscar Juego </h1>

	<%= form_for :match, url: join_match_path do |f| %>
	  <p>
	    <%= f.label "Nombre del juego" %><br>
	    <%= f.text_field :title, class: "form-control" %>
	    <p> *con este nombre se creo el juego</p>
	  </p>
	  <p>
	    <%= f.submit "Buscar" , class: "btn btn-primary"  %>
	  </p>
	<% end %>
  </div>
</div>