<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Descripción de tema y material utilizado</h1>	
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<p>Antes de describir el tema, es necesario conocer los compuestos aromáticos. Los compuestos aromáticos son hidrocarburos derivados de una molécula de benceno, la cual es una molécula cíclica, de forma hexagonal y con un orden de enlace intermedio entre un enlace sencillo y un doble enlace. La siguiente imagen representa un benceno escrito de tres maneras diferentes:</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<%=image_tag("info-1.png", class: "img-responsive center-block", style: "border: 2px solid lightgrey; border-radius: 5px;")%>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<p>La sustitución electrofílica aromática es una reacción perteneciente a la química orgánica, de la cual un átomo, normalmente hidrógeno, unido a un sistema aromático de la familia Arilo, es sustituido por un grupo electrófilo (E+). Esta reacción puede ser representada por la siguiente fórmula:<br>
		<strong class="text-center">ArH + EX → ArE + HX</strong><br>donde Ar es un grupo arilo y E un electrófilo.</p>
		<p>Mediante este tipo de reacción es posible anexar distintos sustituyentes al anillo aromático. Se le puede Halogenar (sustituir con halógeno: -F, -Cl, -I, -Br, -At), Nitrar (sustituir por un grupo nitro: -NO2), Sulfonar (sustituir por un grupo ácido sulfónico -SO3H), Alquilar (sustituir por un grupo alquilo: -R), etc.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>Etapas de la sustitucion electrofilica aromatica:</h3>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<p>Etapa 1. En la primera etapa de la reacción el electrófilo acepta un par de electrones procedentes de la nube p del benceno, formándose un carbocatión estabilizado por resonancia.</p>
		<%=image_tag("info-2.png", class: "img-responsive center-block", style: "border: 2px solid lightgrey; border-radius: 5px;")%>
		<p>El catión ciclohexadienilo [2] deslocaliza la carga positiva según las siguientes estructuras:</p>
		<%=image_tag("info-3.png", class: "img-responsive center-block", style: "border: 2px solid lightgrey; border-radius: 5px;")%>
		<p>Etapa 2. En la segunda etapa el benceno recupera su aromaticidad por la pérdida de un protón. Es una etapa rápida conocida como rearomatización del anillo. </p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<%=image_tag("info-4.png", class: "img-responsive center-block", style: "border: 2px solid lightgrey; border-radius: 5px;")%>
		<p>En una sustitución electrofílica aromática donde el benceno es atacado por una molécula  electrófila diatómica, ésta se separa para formar dos moléculas individuales, de las cuales una se une al grupo aromático sustituyendo al hidrógeno mientras la otra se une al hidrógeno que se ha separado del sistema.A continuación se muestra una imagen de este tipo de reacción. Es importante conocer que el AlX3 actúa como catalizador y no forma parte del producto final.</p>
		
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	</div>
</div>